In [2]:
import pandas as pd

# 創建一個簡單的 DataFrame
df = pd.DataFrame({"名字": ["小明", "小華", "小李"], "年齡": [25, 30, 28]})
# df.set_index("名字", inplace=True)

In [14]:
df = pd.read_csv("../original.csv")
df.reset_index(drop=True)

  name  value
0    a     10
1    b     20

In [ ]:
print("原始 DataFrame：")
print(df)
print("\n第一筆資料：")
print(df.iloc[0].tolist())

# 重設索引，保留原索引為新欄位
print("\n重設索引（保留原索引）：")
print(df.reset_index())
# 顯示重設索引後的第一筆資料
print("\n重設索引後的第一筆資料：")
print(df.reset_index().iloc[0].tolist())


# 重設索引，丟棄原索引
print("\n重設索引（丟棄原索引）：")
print(df.reset_index(drop=True))
print("\n重設索引（丟棄原索引）後的第一筆資料：")
print(df.reset_index(drop=True).iloc[0].tolist())

原始 DataFrame：
   名字  年齡
0  小明  25
1  小華  30
2  小李  28

第一筆資料：
['小明', np.int64(25)]

重設索引（保留原索引）：
   index  名字  年齡
0      0  小明  25
1      1  小華  30
2      2  小李  28

重設索引後的第一筆資料：
[np.int64(0), '小明', np.int64(25)]

重設索引（丟棄原索引）：
   名字  年齡
0  小明  25
1  小華  30
2  小李  28

重設索引（丟棄原索引）後的第一筆資料：
['小明', np.int64(25)]